.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-family: 'Inter', sans-serif;
}

.button-primary {
    background: #0E121B;
    color: white;
    border: 1px solid #0E121B;
}

.button-primary:hover {
    background: #FFFFFF;
    border: 1px solid #E1E4EA;
    box-shadow: 0px 1px 2px 0px #0A0D1414;
    color: #525866;
}

.button-secondary {
    background: transparent;
    color: #525866;
    border: 1px solid #E1E4EA;
    box-shadow: 0px 1px 2px 0px #0A0D1414;
}

.button-secondary:hover {
    background: black;
    color: white;
}

.icon {
    width: 20px;
    height: 20px;
}

.button-primary:hover .icon,
.button-secondary:hover .icon {
    filter: invert(1);
}

.button-group {
    display: flex;
    gap: 10px;
}