.input-container {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
    color: #0E121B;
    margin-bottom: 4px;
}

input {
    border-radius: 8px;
    padding: 10px 10px 10px 12px;
    border: 1px solid #E1E4EA;
    box-shadow: 0px 1px 2px 0px #0A0D1414;
    background: #FFFFFF;
}

input::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6px;
    color: #0E121B;
}


.with-icon.input-wrapper {
    display: flex;
    gap: 8px;
    border-radius: 8px;
    padding: 6px 8px;
    border: 1px solid #E1E4EA;
    box-shadow: 0px 1px 2px 0px #0A0D1414;
    background: #FFFFFF;
}

.with-icon.input-wrapper input {
    border-radius: 0;
    padding: 0;
    border: none;
    background: #FFFFFF;
    box-shadow: none;
    height: 20px;
    width: 100%;
}

.with-icon.input-wrapper .input-icon {
    width: 20px;
    height: 20px;
}

.with-icon.input-wrapper input::placeholder {
    color: #99A0AE;
}